/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*{
  margin:0%;
  padding: 0%;
}

html, body {
  height: 100%;
  background-color: #fafbfb;
}

#contenedor {
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: #335eea;
}

#inicio {
  margin: auto;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 66%;
  height: 2%;
  background-color: #fafbfb;
}

#otro {
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 98%;
  height: 2%;
  background-color: #eade33;
}

#primero {
  float: left;
  width: 29%;
  height: 86%;
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 1%;
  background-color: #eade33;
}

#segundo {
  float: right;
  width: 66%;
  height: 86%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  background-color: #fafbfb;
}

#pie {
  width: 98%;
  height: 0.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #335eea;
}

.colors {
  color:#f1f1e9;
}

.grid-col-item {
  height: 100%;
}

.icon svg {
  width: 40px;
  height: 40px;
  color: #6b85d8;
}

#lista ul li{
  display:inline;
}


.contact_form{  
  width: 50%; 
  height: auto;
  margin-top: 1%;
  margin-left: 23%;
  border-radius: 10px;  
  padding-top: 10px;
  background-color: #fbfbfb; 
  padding-left: 30px; 
  border-color: #335eea;
  border-radius: 5px;  
  border-style: solid; 
}


input{
  background-color: #fbfbfb; 
  width: 90%; 
  height: 25px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #1013ac; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 90%; 
  height: 90%; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #1013ac; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

label{
  display: block; 
  float: center;  
}

button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 10px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #6498db; 
  border-color: #6498db; 
  border-style: solid; 
  border-radius: 10px;  
  width: 92%;   
  cursor: pointer;
}

button p{
  color: #fff; 
}


span{
  color: #6163d6; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h2{
  font-size: 30px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #1013ac;
}


h3{
  font-size: 16px; 
  padding-bottom: 10px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #eade33;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #eade33;
}

.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.view_more_btn i {
  margin-left: 0.7rem;
}