/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*{
  margin:0%;
  padding: 0%;
}

html, body {
  height: 100%;
  background-color: #fafbfb;
}

#contenedor {
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: #335eea;
}

#inicio {
  margin: auto;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 68%;
  height: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fafbfb;
}

#otro {
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 98%;
  height: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #eade33;
}

#primero {
  float: left;
  width: 28%;
  height: 86%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  background-color: #eade33;
}

#segundo {
  float: left;
  width: 68%;
  height: 86%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  background-color: blueviolet;
}

#pie {
  width: 98%;
  height: 0.5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #335eea;
}